{% extends "tree/base.html" %}

{% load static from staticfiles %}
{% load tree_tags %}

{% block title %}Answers{% endblock %}

{% block content %}

<h2>Answers</h2>
<ul class='horizontal'>
    <li><a href="{% tenancy_url 'add_answer' %}">Add answer</a></li>
</ul>

<table class='list auto'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Answer</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for answer in object_list %}
            <tr>
                <td>{{ answer.pk }}</td>
                <td>{{ answer.name }}</td>
                <td>{{ answer.get_type_display }}</td>
                <td>{{ answer.answer }}</td>
                <td>{{ answer.description }}</td>
                <td>
                    <a href="{% tenancy_url 'insert_answer' answer.id %}" title="Edit" class="edit-link">
                        <img class='action' alt='Edit' src="{% static "icons/silk/reload.png" %}" />
                    </a>
                </td>
                <td>
                    <form action="{% tenancy_url 'delete_answer' answer.id %}" method="post" style="border:0px;">
                        {% csrf_token %}
                        <input type="image" src="{% static "icons/silk/delete.png" %}" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
