{% extends "tree/base.html" %}

{% load i18n %}
{% load tree_tags %}

{% block content %}
  <form action="" method="POST" class="pretty"> {% csrf_token %}
    <fieldset>
      <legend>
        {% if object %}
          {% trans "Survey Update Form" %}
        {% else %}
          {% trans "New Survey Form" %}
        {% endif %}
      </legend>

      {{ form.as_p }}

      <p class="buttons">
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        <a class="btn" href="{% tenancy_url 'list-surveys' %}">
          {% trans "Cancel" %}
        </a>
      </p>
    </fieldset>
  </form>
{% endblock %}
