{% extends "tree/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load tree_tags %}

{% block title %}Tags{% endblock %}

{% block content %}

<h2>Tags</h2>
<ul class='horizontal'>
    <li><a title='{% trans "Add tag" %}' href="{% url 'create-tag' %}">{% trans "Add tag" %}</a></li>
</ul>

<table class='list auto'>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
    {% for tag in object_list %}
        <tr>
            <td>{{ tag.pk }}</td>
            <td>{{ tag.name }}</td>
            <td>
                <a href="{% url 'edit-tag' tag.id %}" title="Edit" class="edit-link">
                    <img class='action' alt='Edit' src="{% static "icons/silk/reload.png" %}" />
                </a>
            </td>
            <td>
                <form action="{% url 'delete-tag' tag.id %}" method="post" style="border:0px;">
                    {% csrf_token %}
                    <input type="image" src="{% static "icons/silk/delete.png" %}" />
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
