{% extends "tree/cbv/list.html" %}

{% load tree_tags %}

{% block list_table %}
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% for tag in object_list %}
        <tr>
          <td>{{ tag.pk }}</td>
          <td>{{ tag.name }}</td>
          <td>
            <a href="{% tenancy_url 'edit-tag' tag.id %}" title="Edit">
              <i class="icon-pencil"></i>
            </a>
          </td>
          <td>
            <form class="form-link" action="POST"
                  action="{% tenancy_url 'delete-tag' tag.id %}">
              {% csrf_token %}
              <a href="#" onclick="$(this).closest('form').submit()">
                <i class="icon-remove"></i>
              </a>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock list_table %}
