{% extends "tree/base.html" %}

{% load i18n %}
{% load tree_tags %}

{% block title %}{% if object %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %} {{ view.model|verbose_name|title }}{% endblock title %}
{% block page_title %}{% if object %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %} {{ view.model|verbose_name|title }}{% endblock page_title %}

{% block survey_content %}

  <form action="." method="POST">
    {% csrf_token %}

    <div>
      {{ form.trigger.errors }}
      {{ form.trigger.label_tag }}
      {{ form.trigger }}
      {{ form.trigger.help_text }}
    </div>

    <div>
      {{ form.root_state.errors }}
      {{ form.root_state.label_tag }}
      {{ form.root_state }}
      {{ form.root_state.help_text }}
    </div>

    <div class="counterField">
      {{ form.completion_text.errors }}
      {{ form.completion_text.label_tag }}
      <div>{{ form.completion_text.help_text }}</div>
      {{ form.completion_text }}
    </div>

    <div>
      {{ form.summary.errors }}
      {{ form.summary.label_tag }}
      {{ form.summary }}
      {{ form.summary.help_text }}
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        {% if object %}{% trans "Update" %}{% else %}{% trans "Create" %} {{ view.model|verbose_name|title }}{% endif %}
      </button>
      <a href="{{ cancellation_url }}" class="btn">{% trans "Cancel" %}</a>
    </div>
  </form>
{% endblock survey_content %}
