{% extends "tree/cbv/list.html" %}

{% load tree_tags %}

{% block list_table %}
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Text</th>
        <th>Error Response</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for question in object_list %}
        <tr>
          <td>{{ question.pk }}</td>
          <td>{{ question.text }}</td>
          <td>{{ question.error_response|truncatewords:10 }}</td>
          <td>
            <a href="{% tenancy_url 'insert_question' question.id %}" title="Edit" class="edit-link">
              <i class="icon-pencil"></i>
            </a>
          </td>
          <td>
            <a href="{% tenancy_url 'delete_question' question.id %}">
              <i class="icon-remove"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock list_table %}
