from celery.schedules import crontab


CELERYBEAT_SCHEDULE = {
    "decisiontree-tick": {
        "task": "decisiontree.tasks.PeriodicTask",
        # How often to check sessions for timeout
        "schedule": crontab(),  # every minute
    },
}
CELERYBEAT_SCHEDULER = 'djcelery.schedulers.DatabaseScheduler'

DEFAULT_FROM_EMAIL = 'no-reply@example.com'

# Session timeout in seconds  (default is 300)
#DECISIONTREE_TIMEOUT = 300

# The trigger which will immediately end a session.
DECISIONTREE_SESSION_END_TRIGGER = 'end'
