{% extends "tree/base.html" %}

{% load tree_tags %}

{% block title %}{{ tenant.name }} {{ view.model|verbose_name_plural|title }}{% endblock title %}
{% block page_title %}
  {{ tenant.name }} {{ view.model|verbose_name_plural|title }}
  <a class="btn btn-primary"
     href="{{ view.get_create_url }}">Create {{ view.model|verbose_name|title }}</a>
{% endblock page_title %}

{% block survey_content %}
  {% if not object_list %}
    <p>There are no {{ view.model|verbose_name_plural }} to display.</p>
    <a href="{{ view.get_create_url }}">Create {{ view.model|verbose_name|title }}</a></p>
  {% else %}
    {% block list_table %}{% endblock list_table %}
  {% endif %}
{% endblock survey_content %}
